@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Regular.woff2") format("woff2"),
	url("../fonts/Larsseit-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"),
	url("../fonts/Larsseit-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"),
	url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: Larsseit;
	font-weight: 400;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latoregular.woff2") format("woff2"),
	url("../fonts/latoregular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latobold.woff2") format("woff2"),
	url("../fonts/latobold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latoblack.woff2") format("woff2"),
	url("../fonts/latoblack.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: Lato;
	font-weight: 400;
}

h1 {
	font-family: Roboto;
	font-weight: 900;
}

h2 {
	font-family: Roboto;
	font-weight: 700;
}

ul,
ol {
	font-family: Larsseit;
	font-weight: 500
}

h4,
ol {
	font-family: Larsseit;
	font-weight: 900
}



/* Селектори, комбінації, пріорітетність */

a {
	color: rgb(139, 0, 56);
}

h3 {
	color: rgb(151, 141, 210);
}

#top {
	color: rgb(209, 11, 240);
}

.text {
	color: rgb(48, 48, 59);
}

h2.head {
	color: rgb(168, 6, 6);
}

.text ul {
	color: rgb(18, 139, 214);
}

.text > p {
	color: rgb(27, 75, 42);
}

.text .head {
	color: rgb(136, 12, 189);
}

/* 31ий рядок перебив 19тий */

.clas,
.educ,
.manndog {
	color: yellow;
}

/* 37ий рядок не перебив 27ий,31,19 */


/* 
Вы сделали цвет кажому блоку, через зведочку. 
обращаетесь черей класс к блоку, но в нем нету текста, в нем вложеные блоки. Которые этого класса не имеют. И когнечно звездочка перебивает это все, потому что есть обращения к этим блокам напрямую. То есть через звоздочку. 
Видите у вас идет класс текст, а в нем есть другие теги. Вы же к ним не обращаетесь никак. 
Вот сейчас test будет синим.
Так как это текст именно в этом классе. Понятно?)

Так! тоді в моєму випадку краще всюди поставити класи , до кожного тегу?

Смотря что вы хотите сделать. На * вообще то цвет не ставится. Ставиться только margin: 0; padding:0; box-sizing: border-box; и все

А цвет уже меняете по классам. Можете на body повесить цвет. так будет лучше) 
.
Теперь все работает как вы хотели
*/





